[submodule "foundry/lib/foundry-devops"]
	path = foundry/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundry/lib/openzeppelin-contracts"]
	path = foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
